.searchform {
    clear: both;
    position: relative;
    z-index: 12;
    float: right;
    width: 180px;
    @include inline;
    margin: 0;
    padding-right: image-width(sprite-file($icons, button-search)) + 5px;
    border: 1px solid color(ui);
    background: color(ui);
    font-size: size(small, font);
    font-weight: 300;

    .no-touch & input[type=text]:hover,
    input[type=text]:focus,
    input[type=text] {
        width: 100%;
        border: none;
        background: transparent;
        outline: none;

        /* Voorkom dat d.m.v. selecteren de inhoud over de verticale as kan schuiven */
        min-height: 35px;
        line-height: 25px;
        padding: 0 5px;
    }

    button,
    .no-touch & button:hover,
    .submit {
        position: absolute;
        right: 0;
        top: 0;
        width: image-width(sprite-file($icons, button-search)) + 10px;
        height: image-height(sprite-file($icons, button-search)) + 10px;
        padding: 5px;
        margin: 0;
        overflow: hidden;
        border: none;
        border-radius: 0;
        text-indent: -900em;
        background: transparent;
        cursor: pointer;
        outline: none;

        span {
            display: block;
            width: image-width(sprite-file($icons, button-search));
            height: image-height(sprite-file($icons, button-search));
            @include use-sprite(button-search);
            text-indent: -900em;
        }
    }

    .errormessage {
        position: absolute;
        left: -900em;
        top: 26px;
        width: 100%;
        padding: 5px 0;
        color: color(error, form);
        opacity: 0;
        @include transition(opacity 0.4s ease);
    }

    .searcherror .errormessage {
        left: 0;
        opacity: 1;
    }

    //
    // Suggests
    //
    &__suggests {
        position: absolute;
        right: -10px;
        top: 100%;
        width: 150%;
        padding: 5px;
        margin: 2px;
        border: 1px solid color(ui);
        border-radius: size(global,radius);
        background: #FFF;
        box-shadow: 0 0 5px rgba(#000,0.4);

        a {
            display: block;
            padding: 3px;
            text-decoration: none;
            font-weight: 300;
            color: color(font);

            &:hover,
            &:focus {
                color: #333;
                background: #F5F5F5;
            }

            span {
                font-weight: bold;
                padding-right: 5px;
            }
        }

        input[type=submit] {
            float: left;
            padding: 2px;
            font-size: size(small);
            font-family: $base-font;
            font-weight: 300;
            border: none;
            color: color(secondary);
            text-decoration: underline;
            background: transparent;
            outline: none;

            &:focus {
                outline: 1px dotted #333;
                background: #F5F5F5;
            }
        }
    }

    .suggests__bottom {
        @extend .clearfix;
        padding: 8px 5px 5px 5px;
        margin: 5px 0 0 0;
        border-top: 1px solid color(ui);
        line-height: 20px;
    }

    &__close {
        float: right;
        color: color(primary);
        font-weight: 300;
        text-decoration: underline;
        cursor: pointer;
    }

    //
    // Mq
    //
    @media #{$large-down} {
        position: absolute;
        right: 900em;
        top: 0;
        margin: 0;
    }
}